<!DOCTYPE html>
<html>
<head>
	<title>Berhasil!!!</title>
	<style type="text/css">
		button{
			background-color: blue;
			  border: none;
			  color: white;
			  padding: 20px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: 16px;
			  margin: 4px 2px;
			  cursor: pointer;

		}
		
		.button4 {border-radius: 10px;}
	</style>
</head>
<body>
	<div class="form">
		<p>ANDA SUDAH TERDAFTAR TUNGGU EMAIL VERIFIKASI KAMI
		KLIK TAUTAN
		</p>
		<button class="button4">Home</button>
	</div>
</body>
</html>