<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
	<body>
	<form class="box" method="post" action="/penjualan">
			<h1>Penjualan</h1>
				<input type="text" name="barang" id="barang" autocomplete="off" placeholder="Nama Barang" required="">
				<input type="text" name="harga_jual" id autocomplete="off" placeholder="Harga Jual" required="">
				<input type="text" name="stok" autocomplete="off" placeholder="Stok" required="">
				<input type="submit" name="simpan" value="REGISTER">
	</form>
	</body>
</html>